@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import "tailwindcss";

@theme {
    --color-blue-dark: #2C57AD;
    --color-blue-medium: #3F6CC7;
    --color-blue-light: #EEF3F9;
    --breakpoint-pc: 1366px;
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        list-style: none;
        box-sizing: border-box;
        word-break: keep-all;
        outline: 0px solid silver;
        font-family: 'Noto Sans KR', sans-serif;
    }

    body {
        @apply text-black overflow-x-hidden;
    }

    h1 {
        @apply text-[2rem] font-bold
    }

    h2 {
        @apply text-[1.5rem] font-bold
    }

    h3 {
        @apply text-[1.2rem] font-bold
    }

    h4 {
        @apply text-[1rem] font-bold
    }

    h5 {
        @apply text-[0.9rem] font-bold
    }

    p,
    li {
        @apply transition-all duration-500 text-[0.9rem] md:text-[1.1rem] pc:text-[1.2rem];
    }

    a {
        @apply text-[0.9rem] text-black no-underline cursor-pointer transition-all duration-300;
    }

    table {
        @apply border-collapse border-0
    }

    input {
        @apply border-0 bg-transparent
    }

    textarea {
        @apply resize-none
    }

    img {
        @apply block my-auto mx-0
    }

    button {
        @apply border-0 bg-transparent duration-300
    }

    article>div {
        @apply pt-20 px-[5%] pb-25 w-full max-w-300 my-0 mx-auto;
        @apply pc:pt-37.5 pc:px-0 pc:pb-50;
    }

    article>div>:first-child {
        @apply mb-12.5 pc:mb-20 text-center;
        @apply pc:mb-17.5;
    }

    article>div>:first-child h2 {
        @apply relative inline-block;
        @apply after:content-[''] after:absolute;
        @apply after:left-1/2 after:-bottom-3 after:-translate-x-1/2 after:bg-blue-dark after:w-8.5 after:h-0.75;
        @apply pc:text-[2rem] pc:after:w-10 pc:after:-bottom-5;
    }

    article>div>:first-child h2 span {
        @apply text-blue-dark
    }

    article>div>:first-child p {
        @apply mt-10 text-[#555]
    }

}

@layer components {

    .flex-between {
        @apply flex justify-between;
    }

    .flex-between-wrap {
        @apply flex justify-between flex-wrap;
    }

    .flex-left {
        @apply flex;
    }

    .flex-left-wrap {
        @apply flex flex-wrap;
    }

    .white-bg {
        @apply fixed top-0 left-0 bg-white w-full h-dvh z-20;
    }

    .black-bg {
        @apply fixed z-9 top-0 left-0 bg-black opacity-70 w-full h-dvh hidden
    }

    .loading {
        @apply w-full max-w-300 mx-auto py-25 text-center text-[0.9rem];
        @apply pc:py-37.5
    }

    .text-line {
        @apply border-b-3 border-b-[#eee] pb-2.5 mb-10;
    }

    .text-line h3 {
        @apply relative inline-block md:text-[1.5rem] pc:text-[1.7rem];
        @apply after:content-[''] after:absolute;
        @apply after:left-0 after:-bottom-3.25 after:bg-blue-dark after:w-full after:h-0.75;
    }

}