/* main */

.main-slider .slick-dots {
    height: 0px;
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translate(-50%, 0%);
}

.main-slider .slick-dots>li {
    margin: 0 15px;
}

.main-slider .slick-dots>li>button::before {
    content: '';
    color: white;
    background-color: white;
    width: 40px;
    height: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {

    /* main */

    .main-slider .slick-dots {
        bottom: 80px;
    }

}

@media screen and (min-width: 1366px) {

    /* main */

    .main-slider .slick-dots>li {
        margin: 0 60px;
    }

    .main-slider .slick-dots>li>button::before {
        width: 120px;
    }

}