/* main */

main {
    position: relative;
}

.main-banner>:first-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    text-align: center;
    width: 90%;
}

.main-banner>:first-child h2 {
    margin-bottom: 15px;
}

.main-slider {
    display: block;
    position: relative;
}

.main-slider .main-item>img {
    width: 100%;
    height: 500px;
    max-height: 700px;
    object-fit: cover;
}

.main-slider .slick-dots {
    height: 0px;
    width: auto;
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translate(-50%, 0%);
}

.main-slider .slick-dots>li {
    margin: 0 10px;
}

.main-slider .slick-dots>li>button::before {
    content: '';
    color: white;
    background-color: white;
    width: 30px;
    height: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sub-banner>div>div>img {
    width: 100%;
    height: 250px;
    max-height: 450px;
    object-fit: cover;
}

.sub-banner>div>h1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 90%;
}

/* home */

.home>div>:last-child>section {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}

.home>div>:last-child>section>div>img {
    width: 100%;
    height: auto;
}

.home>div>:last-child>section>:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 5;
}

.home>div>:last-child>section>:nth-child(2) p {
    margin-top: 10px;
}

.home>div>:last-child>section>:nth-child(2)>div {
    display: none;
}

.home>div>:last-child>section>:nth-child(2)>div.hover {
    display: block;
    margin-top: 30px;
}

.home>div>:last-child>section>:nth-child(2)>div img {
    width: 30px;
    height: auto;
    margin: 0 auto;
}

.home>div>:last-child>section>:last-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1D64BF;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
}

.home>div>:last-child>section>:last-child.hover {
    opacity: 0.7;
}

/* introduce */

.introduce {
    background-image: url("/images/introduce-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.introduce>div>:last-child>section {
    width: 168px;
    height: 168px;
    margin: 10px auto;
    border-radius: 100%;
    position: relative;
    background-color: #2C57AD;
}

.introduce>div>:last-child>section:nth-of-type(2) {
    background-color: #81A4D3;
}

.introduce>div>:last-child>section:last-of-type {
    background-color: #A6BAD4;
}

.introduce>div>:last-child>section>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.introduce>div>:last-child>section>div img {
    width: auto;
    height: 34px;
    margin: 0 auto;
}

.introduce>div>:last-child>section>div h4 {
    margin-top: 10px;
    color: white;
}

/* business */

.business>div>:last-child>section {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.business>div>:last-child>section>div img {
    width: 100%;
    height: auto;
}

.business>div>:last-child>section>h3 {
    margin-top: 10px;
    color: white;
    padding: 10px;
    background-color: #2C57AD;
}

.business>div>:last-child>section>p {
    padding: 20px 0;
    background-color: #EEF3F9;
}

/* technology */
.technology>div>:last-child>section {
    margin-bottom: 40px;
}

.technology>div>:last-child>section>div>img {
    width: 100%;
    height: auto;
}

.technology>div>:last-child>section>:last-child {
    margin-top: 25px;
}

.technology>div>:last-child>section ul {
    margin-top: 15px;
}

.technology>div>:last-child>section ul li {
    margin: 15px 0;
    display: flex;
    gap: 10px;
    color: #555;
}

.technology>div>:last-child>section ul li p:first-of-type {
    font-weight: bold;
    color: #81A4D3;
    width: 30%;
}

/* service */

.intro>:first-child>div {
    margin: 10px 0;
}

.intro>:first-child>div img {
    width: 100%;
    height: auto;
}

.intro>:last-child {
    margin-top: 30px;
    text-align: center;
}

.intro>:last-child>:first-child {
    background-color: #2C57AD;
    padding: 15px 0;
}

.intro>:last-child>:first-child h3 {
    color: white;
}

.intro>:last-child>:last-child {
    padding: 15px 10px;
    background-color: #EEF3F9;
}

.intro>:last-child>:last-child span {
    color: #2C57AD;
    font-weight: bold;
}

.service>div>div>section {
    border-bottom: 3px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.service>div>div>section>div h3 {
    position: relative;
    display: inline-block;
}

.service>div>div>section>div h3::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #2C57AD;
    left: 0;
    bottom: -13px;
}

.process {
    margin-top: 80px;
}

.process>div {
    position: relative;
    text-align: center;
}

.process>div>section {
    position: relative;
    border-radius: 100%;
    background-color: white;
    border: 1px solid #377AD0;
    width: 182px;
    height: 182px;
    margin: 40px auto;
}

.process>div>section>div {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.process>div>section>div h3 {
    color: #2C57AD;
}

.process>div>section>div h4 {
    margin: 2px 0 5px;
}

.process>div>section>div p {
    color: #aaa;
}

.process>div>:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.apply {
    margin-top: 80px;
}

.service>div>.apply>section {
    margin-bottom: 10px;
}

.apply>ul li {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.apply>ul li span {
    font-weight: bold;
}

/* gallery */

.gallery>div>div>section {
    width: 48%;
    margin: 30px 0;
}

.gallery>div>div>section>div img {
    width: 100%;
    height: auto;
}

.gallery>div>div>section h4 {
    margin-top: 12px;
    position: relative;
}

.gallery>div>div>section h4::after {
    content: '';
    width: 25px;
    height: 3px;
    background-color: #2C57AD;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%, 0%);
}

.gallery-detail>div>:nth-child(2) {
    margin-bottom: 70px;
}

.gallery-detail>div>:nth-child(2)>div img {
    width: 100%;
    height: auto;
}

.gallery-detail>div>:nth-child(2)>div {
    margin: 20px 0;
}

.gallery-detail>div>:last-child>div {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.gallery-detail>div>:last-child>div>p {
    padding: 10px 0;
    color: #555;
    cursor: pointer;
}

.gallery-detail>div>:last-child>div>p:first-of-type {
    border-bottom: 1px solid #ccc;
}

.gallery-detail>div>:last-child>div>p span {
    font-weight: bold;
    color: #2C57AD;
    margin-right: 20px;
}

.gallery-detail>div>:last-child>button {
    margin-top: 40px;
    background-color: #2C57AD;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {

    /* main */

    .main-banner>:first-child h2 {
        font-size: 2.2rem;
    }

    .main-slider .slick-dots {
        bottom: 80px;
    }

    .main-slider .slick-dots>li {
        margin: 0 20px;
    }

    .sub-banner>div>div>img {
        height: 300px;
        max-height: 450px;
    }

    /* home */

    .home>div>:last-child>section {
        width: 32%;
        margin-bottom: 0px;
    }

    .home>div>:last-child>section>:nth-child(2)>div img {
        width: 50px;
    }

    /* introduce */

    .introduce>div>:last-child>section {
        width: 200px;
        height: 200px;
    }

    .introduce>div>:last-child>section>div img {
        height: 40px;
    }

    /* business */

    .business>div>:last-child>section {
        width: 48%;
        margin-bottom: 30px;
    }

    .business>div>:last-child>section>p {
        height: 130px;
    }

    /* technology */

    .technology>div>:last-child>section {
        margin-bottom: 60px;
        width: 100%;
    }

    .technology>div>:last-child>section>:first-child {
        width: 40%;
    }

    .technology>div>:last-child>section>:last-child {
        margin-top: 0px;
        width: 55%;
    }

    .technology>div>:last-child>section h4 {
        font-size: 1.2rem;
    }

    .technology>div>:last-child>section ul {
        margin-top: 20px;
    }

    .technology>div>:last-child>section ul li {
        margin: 10px 0;
    }

    /* service */

    .intro>:last-child>:last-child {
        padding: 40px 20px;
    }

    .service>div>div>section>div h3 {
        font-size: 1.5rem;
    }

    .process>div {
        display: flex;
        justify-content: center;
        flex-flow: wrap;
    }

    .process>div>section {
        width: 230px;
        height: 230px;
        margin: 20px;
    }

    .process>div>section>div h4 {
        font-size: 1.2rem;
    }

    .process>div>:last-child {
        display: none;
    }

    /* gallery */

    .gallery>div>div>section h4 {
        font-size: 1.2rem;
    }

    .gallery>div>div>section h4::after {
        bottom: -15px;
    }

}

@media screen and (min-width: 1366px) {

    /* main */

    .main-banner>:first-child h2 {
        font-size: 3rem;
    }

    .main-slider .slick-dots>li {
        margin: 0 40px;
    }

    .main-slider .slick-dots>li>button::before {
        width: 70px;
    }

    .main-banner>:last-child {
        width: 1200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: space-between;
        z-index: 2;
    }

    .main-banner>:last-child button img{
        cursor: pointer;
    }

    /* home */

    .home>div>:last-child>section>:nth-child(2) h2 {
        font-size: 2rem;
    }

    /* introduce */

    .introduce>div>:last-child {
        justify-content: center;
        gap: 60px;
    }

    .introduce>div>:last-child>section {
        width: 270px;
        height: 270px;
        margin: 0;
    }

    .introduce>div>:last-child>section>div img {
        height: 50px;
    }

    .introduce>div>:last-child>section>div h4 {
        margin-top: 15px;
        font-size: 1.2rem;
    }

    /* business */

    .business>div>:last-child>section {
        margin-bottom: 0px;
        width: 276px;
    }

    .business>div>:last-child>section>h3 {
        padding: 15px;
    }

    .business>div>:last-child>section>p {
        padding: 20px 10px;
        font-size: 1rem;
    }

    /* technology */
    .technology>div>:last-child>section {
        margin-bottom: 80px;
    }

    /* service */

    .intro>:first-child>div {
        width: 384px;
    }

    .intro>:last-child {
        margin-top: 20px;
    }

    .intro>:last-child {
        display: flex;
    }

    .intro>:last-child>:first-child {
        padding: 30px 10px;
        width: 40%;
    }

    .intro>:last-child>:first-child h3 {
        font-size: 1.5rem;
        margin-top: 10px;
    }

    .intro>:last-child>:last-child {
        padding: 20px;
        text-align: left;
        font-size: 1rem;
    }

    .service>div>div>section>div h3 {
        font-size: 1.7rem;
    }

    .process>div>section {
        width: 220px;
        height: 220px;
        margin: 0 40px;
    }

    .process>div>section p {
        font-size: 0.9rem;
    }

    .process>div>:last-child {
        display: block;
    }

    .apply>ul li {
        padding: 30px 0;
    }

    /* gallery */

    .gallery>div>div>section {
        width: 276px;
    }

    .gallery>div>div>section h4 {
        margin-top: 20px;
    }

    .gallery>div>div>section h4::after {
        width: 30px;
        bottom: -15px;
    }

    .gallery-detail>div>:nth-child(2) {
        width: 800px;
        margin: 0 auto 100px;
    }

    .gallery-detail>div>:nth-child(2)>div {
        margin: 40px 0;
    }

    .gallery-detail>div>:last-child>div>p {
        padding: 20px 0;
    }

    .gallery-detail>div>:last-child>button {
        padding: 10px 30px;
    }

}