/* main */

main {
    position: relative;
}

.main-banner >:first-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.main-slider {
    display: block;
}

.main-slider .main-item>img {
    width: 100%;
    height: 700px;
    max-height: 800px;
    object-fit: cover;
}

.sub-banner>div>div>img {
    width: 100%;
    height: 300px;
    max-height: 450px;
    object-fit: cover;
}

.sub-banner>div>h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* home */

.home > div >:last-child > section {
    width: 100%;
    margin: 15px 0;
    position: relative;
}

.home > div >:last-child > section >div > img {
    width: 100%;
    height: auto;
}

.home > div >:last-child > section>:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.home > div >:last-child > section>:nth-child(2) p {
    margin-top: 10px;
}

.home > div >:last-child > section>:nth-child(2)>div {
    display: none;
}

.home > div >:last-child > section>:nth-child(2)>div.hover {
    display: block;
    margin-top: 30px;
}

.home > div >:last-child > section>:nth-child(2)>div img {
    width: 50px;
    height: auto;
}

.home > div >:last-child > section>:last-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1D64BF;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
}

.home > div >:last-child > section>:last-child.hover {
    opacity: 0.7;
}

/* introduce */

.introduce {
    background-image: url("/images/introduce-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.introduce>div>:last-child>section {
    width: 70%;
    margin: 15px auto;
    border-radius: 100%;
    position: relative;
    background-color: #2C57AD;
}

.introduce>div>:last-child>section:nth-of-type(2) {
    background-color: #81A4D3;
}

.introduce>div>:last-child>section:last-of-type {
    background-color: #A6BAD4;
}

.introduce>div>:last-child>section>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.introduce>div>:last-child>section>div img {
    width: auto;
    height: 34px;
}

.introduce>div>:last-child>section>div h4 {
    margin-top: 20px;
    color: white;
}

/* business */

.business>div>:last-child>section {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.business>div>:last-child>section>div img {
    width: 100%;
    height: auto;
}

.business>div>:last-child>section>h3 {
    margin-top: 10px;
    color: white;
    padding: 10px;
    background-color: #2C57AD;
}

.business>div>:last-child>section>p {
    padding: 20px 0;
    background-color: #EEF3F9;
}

/* technology */

.technology>div>:last-child>section>div>img{
    width: 100%;
    height: auto;
}

.technology>div>:last-child>section:last-child {
    margin-top: 25px;
}

.technology>div>:last-child>section:last-child ul {
    margin-top: 15px;
}

.technology>div>:last-child>section:last-child ul li {
    margin: 10px 0;
    display: flex;
    gap: 20px;
    color: #555;
}

.technology>div>:last-child>section:last-child ul li p:first-of-type {
    font-weight: bold;
    color: #81A4D3;
    width: 30%;
}

/* service */

.intro >:first-child>div {
    margin: 15px 0;
}

.intro >:first-child>div img {
    width: 100%;
    height: auto;
}

.intro>:last-child {
    margin-top: 30px;
}

.intro>:last-child>:first-child {
    background-color: #2C57AD;
    padding: 15px 0;
}

.intro>:last-child>:first-child h3 {
    color: white;
}

.intro>:last-child>:last-child {
    padding: 15px 10px;
    background-color: #EEF3F9;
}

.process {
    margin-top: 80px;
}

.service>div>div>section {
    border-bottom: 3px solid #eee;
}

/* gallery */

.gallery>div>div>section {
    width: 48%;
    margin: 30px;
}

.gallery>div>div>section h3 {
    margin-top: 20px;
    position: relative;
}

.gallery>div>div>section h3::after {
    content: '';
    width: 25px;
    height: 3px;
    background-color: #2C57AD;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(0%, -50%);
}

.gallery-detail>div>:nth-child(2)>div img {
    width: 100%;
    height: auto;
}

.gallery-detail>div>:nth-child(2)>div {
    margin: 20px 0;
}

.gallery-detail>div>:last-child>div {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.gallery-detail>div>:last-child>div>p {
    padding: 10px 0;
    color: #555;
}

.gallery-detail>div>:last-child>div>p:first-of-type {
    border-bottom: 1px solid #ccc;
}

.gallery-detail>div>:last-child>div>p span {
    font-weight: bold;
    color: #2C57AD;
    margin-right: 20px;
}

.gallery-detail>div>:last-child>button {
    margin-top: 40px;
    background-color: #2C57AD;
    color: white;
}

@media screen and (min-width: 768px) {

    /* main */

    .main-banner > :last-child {
    width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

}

@media screen and (min-width: 1366px) {

    /* main */

    /* home */

    /* introduce */

    /* business */

    .business>div>:last-child>section {
        width: 276px;
        margin: 0;
    }

    .business>div>:last-child>section>p {
        padding: 25px 0;
    }
}